@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@500&display=swap');

/* common styles and utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color:#F3F1FF;;
} 
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.container{
    background-color: white;
    max-width: 870px;
    padding: 30px;
    border-radius: 8px;
    margin-top: 30px;
}

/* Header styles */
.header-body{
    background-color: #562EFF;
    background-repeat: repeat;
    /* max-width: 1850px; */
    margin-left: 10px;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
}
.header-title{
    display: flex;
    align-items: center;
}
.header-title img{
    height: 70px;
    width: 60px;
    margin-right: 20px;
}
.header h1{
    color: white;
}

ul{
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
ul li a{
    color: white;
    text-decoration: none;
}

/* top players style */
.top-player {
    margin-bottom: 25px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 45px;
    margin-top: 1px;
}
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.player img{
    height: 56px;
    width: 56px;
}
.player {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    margin-right: 20px;
}

hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 30px;
}

/* blogs section styles*/
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
    gap: 10px;
}

.blog .thumbnail img{
    height: 117px;
    width: 177px;
}
.blog-author{
    color: gray;
    font-size: 14px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
}

/* Letest Course styles */

.courses{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15px;
}
.course{
    margin-left: 15px;
    padding: 15px 10px;
    box-shadow: 1px 1px 6px #D1D1D1;
    border-radius: 10px;
}

.course-banner img{
    width: 224px;
    height: 104px;
}

.fa-star.filled{
    color:#FFC014;
}
.fa-star.unfilled{
    color: rgb(219, 211, 211);
}
.course-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    font-size: 12px;
    color: gray;
}
.course-duration {
    color: red;
    background-color: rgb(255, 226, 226);
    padding: 5px 10px;
    border-radius: 15px;
}
.course-duration-2{
    color: rgb(255, 102, 0);
    background-color: rgb(255, 237, 225);
    padding: 5px 10px;
    border-radius: 15px;
}